.vscode/settings.json
ipopt.out
aircraft_side_view.png
aircraft_top_view.png
aircraft_combined_view.png
CLARKYPlane_Madsen_1.xfl
CLARKYPlane.xfl
MH1Plane.xfl 
SimplifiedDynamicStabilityCalculations.pdf